body {
  font-family: "Prompt", sans-serif;
  margin: 0;
  background: #0e0e10;
  color: #ffffff;
  
}




header {
  background: #1f1f23;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  margin: 1;

}

nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  background-color: #141414;
  padding: 10px 20px;
  border-radius: 30px;
}

nav a:hover {
  text-decoration: underline;
  border: 2px solid #ffffff;
  
}



.tabs {
  text-align: center;
  margin: 20px;

}

.tabs button {
  background: #292929;
  color: #ffffff;
  border: none;
  padding: 1% 2%;
  margin: 5px;
  cursor: pointer;
  font-size: 20px;

  border-radius: 8px;
  
}

.tabs button:hover {
  background: #3a3a3a;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 รูปต่อแถว */
  gap: 20px;
  padding: 20px;
}

.work-item {
  background: #1a1a1a;
  border: 2px solid #000000;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s, border 0.2s;
  text-align: center;
}

.work-item:hover {
  transform: scale(1.25);
  border: 2px solid #ffffff;
}

.work-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.work-item h3 {
  margin: 10px;
  font-size: 22px;
}




.Content {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
   
}

.Areacontent {
  background: #1c1c1c;
  padding: 10px;
  border-radius: 30px;
  width: 50%;
  text-align: center;
  
}

.Content-content img {
  width: 100%;
  border-radius: 10px;
  
}

.Content-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 15px 0;
}

.Content-images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  max-width: 100%;
  max-height: 70vh;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.close:hover {
  color: red;
}

/* Responsive */
@media(max-width:1024px){
  .gallery { grid-template-columns: repeat(3, 1fr);}
}
@media(max-width:768px){
  .gallery { grid-template-columns: repeat(2, 1fr);}

  .Areacontent {
  background: #1c1c1c;
  padding: 10px;
  border-radius: 30px;
  width: 80%;
  text-align: center;
  
  .work-item:hover {
  transform: scale(1.1);
  border: 2px solid #ffffff;
}
}
}
@media(max-width:480px){
  .gallery { grid-template-columns: 1fr;}
  .content { width: 90%; } 

  
.Areacontent {
  background: #1c1c1c;
  padding: 10px;
  border-radius: 30px;
  width: 80%;
  text-align: center;
  
}

.work-item:hover {
  transform: scale(1.05);
  border: 2px solid #ffffff;
}
}