a:link{
	color: #FF0000; 
}  */
a:visited{
	color: #00FF00; 
} 
 a:hover{ 
	color: #3300ff; 
} 

* {   

   margin: 10;
   padding: 0;
   font-family: Garamond, 'Times New Roman', Times, serif;
   text-align: center;
   background-color: #dcdcdc;
   font-size: 20pt;

}
h1{
    font-size: 50pt;
    color: rgb(255, 140, 140);
    text-shadow: 2px 2px 5px rgb(255, 99, 71);
}
h2{
    font-size: 30pt;
    color: rgb(255, 140, 140);
    text-shadow: 2px 2px 5px rgb(255, 99, 71);
}

#done{
    width: 40%;
   height: 40%;
}
img{
    width: 100%;
   border: 6px solid rgb(255, 140, 140);
    border-radius: 25px;

}
.parent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.parent > div{
    width: 300px;
    margin-left: 20px;
    margin-bottom: 10px;
   border-radius: 100px;

}



